<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drkj.wishfuldad">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 推荐的权限 -->
    <!-- 添加如下权限，以便使用更多的第三方SDK和更精准的统计数据 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--震动-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a43b96ef29d985bc3000013" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="wishifuldad" />

        <activity android:name=".activity.MainActivity">
             <!--<intent-filter>-->
             <!--<action android:name="android.intent.action.MAIN" />-->


             <!--<category android:name="android.intent.category.LAUNCHER" />-->
             <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.SetYourInfoActivity" />
        <activity android:name=".activity.SetYourAccountActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".activity.SetBabyInfoActivity" />
        <activity android:name=".activity.SetBabyHeadActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.CardActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".activity.BabyInfoActivity" />
        <activity android:name=".activity.DataActivity" />
        <activity android:name=".activity.SetHrActivity" />
        <activity android:name=".activity.SetAlertActivity" />
        <activity android:name=".activity.HelpActivity" />
        <activity android:name=".activity.RepErrorActivity" />
        <activity android:name=".activity.SetBabyDataActivity" />
        <activity android:name=".activity.TestViewActivity">
             <!--<intent-filter>-->
             <!--<action android:name="android.intent.action.MAIN" />-->


             <!--<category android:name="android.intent.category.LAUNCHER" />-->
             <!--</intent-filter>-->
        </activity>
        <activity android:name=".activity.SplashActivity"
            android:theme="@style/Full">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.GuideActivity"
            android:theme="@style/Full"/>
    </application>

</manifest>